In [ ]:
# import relevant library for data analysis and cross tabulation
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# load data Data Sidoarjo Juni.xlsx
df = pd.read_excel('Data Sidoarjo Juni.xlsx')
df.head()

,NO_KUESIONER,PSU,Q4,Q7,Q5,Q6,Q10,Q11,Q11-Comment,P1,...,FB12,LB12,FB13,LB13,PB23,PB24,PB24-Comment,PBT1,Dapil,Bobot
0,791,80,NaN,3515160,KALIJATEN,KOTA,Asli,NaN,NaN,1,...,2,NaN,2,NaN,7,13.0,Lihat dibaliho,2,5,0.185546
1,792,80,NaN,3515160,KALIJATEN,KOTA,Asli,NaN,NaN,2,...,2,NaN,2,NaN,7,12.0,NaN,2,5,2.528008
2,11,2,NaN,3515180,BOGEMPINGGIR,KOTA,Asli,NaN,NaN,1,...,2,NaN,2,NaN,9,99.0,wakil mudhor,9,4,0.178225
3,794,80,NaN,3515160,KALIJATEN,KOTA,Asli,NaN,NaN,2,...,2,NaN,2,NaN,9,4.0,NaN,9,5,0.313300
4,12,2,NaN,3515180,BOGEMPINGGIR,KOTA,Asli,NaN,NaN,2,...,2,NaN,2,NaN,88,NaN,NaN,88,4,0.684117

In [ ]:
# set to display all the column in the data
pd.set_option('display.max_columns', None)

In [ ]:
df

,NO_KUESIONER,PSU,Q4,Q7,Q5,Q6,Q10,Q11,Q11-Comment,P1,P2,P2K,P2_G,P3,P4,P4-Comment,P5,P6,P7,P7-Comment,P8,P9,P17,P18,PM,PM-Comment,PB1,PB1a,PB1a-Comment,PB3,PB3a,PB3a-Comment,PB5,A4,PB9,PB10,PB22,PB22-Comment,FB1,LB1,FB2,LB2,FB3,LB3,FB4,LB4,FB5,LB5,FB6,LB6,FB7,LB7,FB8,LB8,FB9,LB9,FB10,LB10,FB11,LB11,FB12,LB12,FB13,LB13,PB23,PB24,PB24-Comment,PBT1,Dapil,Bobot
0,791,80,NaN,3515160,KALIJATEN,KOTA,Asli,NaN,NaN,1,61,10,4,1,1,NaN,3,5,NaN,NaN,1,8,2,2,12,NaN,2,NaN,NaN,2,NaN,NaN,2,2,1,2,7,NaN,2,NaN,1,88.0,2,NaN,2,NaN,1,88.0,2,NaN,1,88.0,2,NaN,1,88.0,1,88.0,2,NaN,2,NaN,2,NaN,7,13.0,Lihat dibaliho,2,5,0.185546
1,792,80,NaN,3515160,KALIJATEN,KOTA,Asli,NaN,NaN,2,72,12,4,1,1,NaN,1,2,NaN,NaN,1,8,2,2,17,NaN,2,NaN,NaN,2,NaN,NaN,2,1,1,2,88,NaN,2,NaN,1,88.0,2,NaN,2,NaN,2,NaN,2,NaN,1,88.0,2,NaN,1,88.0,2,NaN,2,NaN,2,NaN,2,NaN,7,12.0,NaN,2,5,2.528008
2,11,2,NaN,3515180,BOGEMPINGGIR,KOTA,Asli,NaN,NaN,1,57,9,4,6,1,NaN,3,1,18.0,NaN,1,1,2,2,8,NaN,3,6.0,korupsi,88,NaN,NaN,2,1,1,2,88,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,88.0,2,NaN,2,NaN,2,NaN,2,NaN,9,99.0,wakil mudhor,9,4,0.178225
3,794,80,NaN,3515160,KALIJATEN,KOTA,Asli,NaN,NaN,2,43,6,3,5,1,NaN,3,2,NaN,NaN,1,1,2,2,17,NaN,2,NaN,NaN,2,NaN,NaN,2,1,1,2,9,NaN,1,1.0,2,NaN,2,NaN,2,NaN,1,88.0,2,NaN,2,NaN,2,NaN,1,1.0,1,2.0,2,NaN,2,NaN,2,NaN,9,4.0,NaN,9,5,0.313300
4,12,2,NaN,3515180,BOGEMPINGGIR,KOTA,Asli,NaN,NaN,2,37,5,2,4,1,NaN,3,2,NaN,NaN,1,1,2,2,4,NaN,2,NaN,NaN,2,NaN,NaN,2,1,1,1,99,pak mudhor,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,88.0,2,NaN,2,NaN,2,NaN,2,NaN,88,NaN,NaN,88,4,0.684117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,736,74,NaN,3515100,NaN,NaN,NaN,NaN,NaN,2,45,7,3,5,1,NaN,3,1,5.0,NaN,1,1,2,2,13,Banjir,3,3.0,NaN,3,3.0,NaN,3,1,1,1,9,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1.0,2,NaN,2,NaN,2,NaN,2,NaN,9,6.0,NaN,9,5,0.320760
1196,737,74,NaN,3515100,NaN,NaN,NaN,NaN,NaN,1,43,6,3,3,1,NaN,3,1,5.0,NaN,1,1,3,3,9,NaN,3,1.0,NaN,3,1.0,NaN,3,2,2,2,88,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,1.0,2,NaN,2,NaN,2,NaN,2,NaN,88,NaN,NaN,88,5,0.356026
1197,738,74,NaN,3515100,NaN,NaN,NaN,NaN,NaN,2,51,8,3,6,1,NaN,3,2,NaN,NaN,1,8,2,2,4,NaN,2,NaN,NaN,2,NaN,NaN,2,1,1,2,88,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,1,88.0,2,NaN,1,1.0,2,NaN,2,NaN,2,NaN,2,NaN,9,2.0,NaN,9,5,0.320760
1198,740,74,NaN,3515100,NaN,NaN,NaN,NaN,NaN,2,59,9,4,4,1,NaN,1,2,NaN,NaN,1,1,2,2,4,NaN,2,NaN,NaN,2,NaN,NaN,2,2,1,2,88,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,2,NaN,88,NaN,NaN,88,5,2.588204
1199,739,74,NaN,3515100,NaN,NaN,NaN,NaN,NaN,1,37,5,2,5,1,NaN,3,1,15.0,NaN,1,1,2,2,10,NaN,2,NaN,NaN,2,NaN,NaN,2,1,1,1,2,NaN,2,NaN,1,1.0,2,NaN,2,NaN,1,1.0,1,1.0,1,1.0,2,NaN,1,1.0,2,NaN,1,1.0,2,NaN,2,NaN,2,8.0,NaN,2,5,0.809350

In [ ]:
# cek kolom pada df
df.columns

Index(['NO_KUESIONER', 'PSU', 'Q4', 'Q7', 'Q5', 'Q6', 'Q10', 'Q11',
       'Q11-Comment', 'P1', 'P2', 'P2K', 'P2_G', 'P3', 'P4', 'P4-Comment',
       'P5', 'P6', 'P7', 'P7-Comment', 'P8', 'P9', 'P17', 'P18', 'PM',
       'PM-Comment', 'PB1', 'PB1a', 'PB1a-Comment', 'PB3', 'PB3a',
       'PB3a-Comment', 'PB5', 'A4', 'PB9', 'PB10', 'PB22', 'PB22-Comment',
       'FB1', 'LB1', 'FB2', 'LB2', 'FB3', 'LB3', 'FB4', 'LB4', 'FB5', 'LB5',
       'FB6', 'LB6', 'FB7', 'LB7', 'FB8', 'LB8', 'FB9', 'LB9', 'FB10', 'LB10',
       'FB11', 'LB11', 'FB12', 'LB12', 'FB13', 'LB13', 'PB23', 'PB24',
       'PB24-Comment', 'PBT1', 'Dapil', 'Bobot'],
      dtype='object')

In [ ]:
import pandas as pd

# Memuat data
# Pastikan df sudah ada sebelum menggunakan program, misalnya df = pd.read_csv('data.csv')

# List untuk menyimpan hasil analisis dari setiap iterasi
all_results = []

# Loop agar program berjalan terus-menerus hingga pengguna mengetik 'exit'
while True:
    print("\n=== Analisis Crosstab ===")

    # Input kolom indeks untuk crosstab
    index_column = input("Masukkan kolom indeks (contoh: Q7) atau ketik 'exit' untuk keluar: ").strip().upper()
    if index_column == 'EXIT':
        print("Program dihentikan.")
        break

    # Validasi kolom indeks
    if index_column not in df.columns:
        print(f"Kolom indeks '{index_column}' tidak ditemukan di data. Silakan coba lagi.")
        continue

    # Input kolom yang ingin diproses
    columns_to_analyze = input("Masukkan kolom yang ingin diproses (pisahkan dengan koma): ").split(',')
    columns_to_analyze = [col.strip().upper() for col in columns_to_analyze]

    # Validasi kolom yang diproses
    columns_to_analyze = [col for col in columns_to_analyze if col in df.columns]
    if not columns_to_analyze:
        print("Tidak ada kolom yang valid untuk diproses. Pastikan kolom yang dimasukkan ada dalam data.")
        continue

    # Input kolom values dan jenis agregasi
    value_column = input("Masukkan kolom untuk values (atau ketik 'count' untuk menghitung frekuensi): ").strip()
    if value_column != 'count' and value_column not in df.columns:
        print(f"Kolom '{value_column}' tidak ditemukan di data. Silakan coba lagi.")
        continue

    agg_func = input("Masukkan tipe agregasi (contoh: sum, mean, min, max, count): ").strip().lower()

    # Input metode perhitungan persentase (baris atau kolom)
    percentage_method = input("Masukkan metode persentase (baris / kolom): ").strip().lower()
    if percentage_method not in ['baris', 'kolom']:
        print("Metode persentase tidak valid. Pilih 'baris' atau 'kolom'.")
        continue

    # Dictionary untuk menyimpan hasil crosstab setiap kolom
    crosstab_results = {}

    for col in columns_to_analyze:
        # Tentukan kolom values dan fungsi agregasi
        if value_column == 'count':
            crosstab_result = pd.crosstab(index=df[index_column], columns=df[col])
        else:
            crosstab_result = pd.crosstab(index=df[index_column], columns=df[col], values=df[value_column], aggfunc=agg_func)

        # Hitung persentase berdasarkan metode input
        if percentage_method == 'baris':
            crosstab_percentage = crosstab_result.div(crosstab_result.sum(axis=1), axis=0) * 100
        elif percentage_method == 'kolom':
            crosstab_percentage = crosstab_result.div(crosstab_result.sum(axis=0), axis=1) * 100

        # Konversi hasil crosstab ke bentuk DataFrame
        crosstab_df = crosstab_result.stack().reset_index()
        crosstab_df.columns = [index_column, col, 'frekuensi']

        # Tambahkan kolom persentase
        crosstab_df['persentase'] = crosstab_percentage.stack().values

        # Urutkan data
        crosstab_df = crosstab_df.sort_values([index_column, col]).reset_index(drop=True)

        # Modifikasi untuk format yang diinginkan
        crosstab_df['Kolom yang Dianalisis'] = col
        crosstab_df['value'] = crosstab_df[col]

        # Tambahkan kolom baru untuk menyimpan nama indeks yang digunakan
        crosstab_df['Indeks Yang Digunakan'] = index_column
        # Modifikasi setelah hasil crosstab_df terbentuk
        crosstab_df = crosstab_df.rename(columns={index_column: 'Value_indeks'})

        # Menyusun ulang kolom agar sesuai dengan format
        crosstab_df = crosstab_df[['Kolom yang Dianalisis', 'Indeks Yang Digunakan', 'value', 'Value_indeks', 'persentase']]

        # Batasi desimal menjadi 2 angka
        crosstab_df = crosstab_df.round(3)

        # Simpan hasil crosstab di dictionary
        crosstab_results[col] = crosstab_df

    # Satukan dalam 1 DataFrame dan tambahkan ke list all_results
    crosstab_all = pd.concat(crosstab_results.values(), ignore_index=True)
    all_results.append(crosstab_all)

    # Tampilkan hasil akhir untuk iterasi saat ini
    print("\nHasil Crosstab untuk iterasi ini:")
    print(crosstab_all)

    # Tanya apakah ingin melanjutkan atau keluar
    lanjutkan = input("\nIngin melakukan analisis lagi? (ketik 'exit' untuk keluar atau tekan Enter untuk melanjutkan): ").strip().lower()
    if lanjutkan == 'exit':
        print("Program dihentikan.")
        break

# Gabungkan semua hasil yang telah disimpan dan tampilkan
final_result = pd.concat(all_results, ignore_index=True)
print("\nHasil Gabungan Semua Iterasi:")
print(final_result)

# Opsi untuk mengunduh hasil gabungan sebagai file Excel
download_final_option = input("\nApakah Anda ingin mengunduh hasil gabungan sebagai file excel? (ya/tidak): ").strip().lower()
if download_final_option == 'ya':
    final_file_name = input("Masukkan nama file untuk hasil gabungan (contoh: hasil_gabungan.xlsx): ").strip()
    try:
        final_result.to_excel(final_file_name, index=False)
        print(f"Hasil gabungan telah disimpan sebagai file '{final_file_name}'.")
    except Exception as e:
        print(f"Terjadi kesalahan saat menyimpan file: {e}")

=== Analisis Crosstab ===
Masukkan kolom indeks (contoh: Q7) atau ketik 'exit' untuk keluar: P1
Masukkan kolom yang ingin diproses (pisahkan dengan koma): fb1
Masukkan kolom untuk values (atau ketik 'count' untuk menghitung frekuensi): Bobot
Masukkan tipe agregasi (contoh: sum, mean, min, max, count): sum
Masukkan metode persentase (baris / kolom): baris

Hasil Crosstab untuk iterasi ini:
  Kolom yang Dianalisis Indeks Yang Digunakan  value  Value_indeks  persentase
0                   FB1                    P1      1             1      11.044
1                   FB1                    P1      2             1      88.956
2                   FB1                    P1      1             2       7.311
3                   FB1                    P1      2             2      92.689

Ingin melakukan analisis lagi? (ketik 'exit' untuk keluar atau tekan Enter untuk melanjutkan):

=== Analisis Crosstab ===
Masukkan kolom indeks (contoh: Q7) atau ketik 'exit' untuk keluar: fb1
Masukkan kolom yang ingin diproses (pisahkan dengan koma): p1
Masukkan kolom untuk values (atau ketik 'count' untuk menghitung frekuensi): Bobot
Masukkan tipe agregasi (contoh: sum, mean, min, max, count): sum
Masukkan metode persentase (baris / kolom): baris

Hasil Crosstab untuk iterasi ini:
  Kolom yang Dianalisis Indeks Yang Digunakan  value  Value_indeks  persentase
0                    P1                   FB1      1             1      60.168
1                    P1                   FB1      2             1      39.832
2                    P1                   FB1      1             2      48.973
3                    P1                   FB1      2             2      51.027

Ingin melakukan analisis lagi? (ketik 'exit' untuk keluar atau tekan Enter untuk melanjutkan): exit
Program dihentikan.

Hasil Gabungan Semua Iterasi:
  Kolom yang Dianalisis Indeks Yang Digunakan  value  Value_indeks  persentase
0                   FB1                    P1      1             1      11.044
1                   FB1                    P1      2             1      88.956
2                   FB1                    P1      1             2       7.311
3                   FB1                    P1      2             2      92.689
4                    P1                   FB1      1             1      60.168
5                    P1                   FB1      2             1      39.832
6                    P1                   FB1      1             2      48.973
7                    P1                   FB1      2             2      51.027

Apakah Anda ingin mengunduh hasil gabungan sebagai file excel? (ya/tidak): ya
Masukkan nama file untuk hasil gabungan (contoh: hasil_gabungan.xlsx): crosstabfinal.xlsx
Hasil gabungan telah disimpan sebagai file 'crosstabfinal.xlsx'.